html {
  data-bs-theme: "dark";
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

#map {
  background-color: black;
  position: relative;
  width: 2500px;
  height: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#reset-button {
  margin-left: -10px;
}
#select-button {
  margin-left: 10px;
}

#controls {
  position: absolute;
  width: 2500px;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  z-index: 500;
}

#dev-stat {
  color: white;
  position: absolute;
  left: 100px;
  top: 500px;
  z-index: 500;
}

#latlon-overlay {
  position: absolute;
  left: 100px;
  z-index: 500;
}

#selector-map {
  position: absolute;
  padding: 10px;
  left: 10px;
  width: 250px;
  height: 250px;
  bottom: 10px;
  z-index: 500;
}

#selector-map:hover {
  position: absolute;
  padding: 10px;
  left: 10px;
  width: 600px;
  height: 500px;
  bottom: 10px;
  z-index: 500;
}
