html, body {
  height: 100%;
}
#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

#map {
  background-color: black;
  position: relative;
  max-width: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#start-menu {
  width: 20%;
  height: 10%;

  position: absolute;
  padding: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 500;
  
}

#reg-err {
  position: absolute;
  padding: 20px;
  left: 0;
}


#reset-button {
  margin-left: -10px;
}
#select-button {
  margin-left: 10px;
}
#home-button {
  margin: 10px;
}

#controls {
  position: absolute;
  width: 100%;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  z-index: 500;
}

#prac-controls {
  position: absolute;
  width: 100%;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  z-index: 500;
}

#faux-button {
  width: 500px
}

#dev-stat {
  color: white;
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: 500;
}

#latlon-overlay {
  position: absolute;
  left: 100px;
  z-index: 500;
}

#selector-map {
  position: absolute;
  padding: 10px;
  left: 10px;
  width: 250px;
  height: 250px;
  bottom: 10px;
  z-index: 600;
}

#results-map {
  position: relative;
  width: 400px;
  height: 400px;
  z-index: 500;
}

#selector-map:hover {
  position: absolute;
  padding: 10px;
  left: 10px;
  width: 600px;
  height: 500px;
  bottom: 10px;
  z-index: 600;
}
#modal-content {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#year-selection {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 10px;
}

#modal-score {
  padding-top: 10px;
}

#menu-title {
  position: absolute;
  font-size: 120px;
  color: #b5b191;
  padding: 20px;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 500;
}

#log-banner {
  position: absolute;
  z-index: 500;
  top: 0;
  right: 0;
  padding: 10px;
}

#round-indicator{
  position: absolute;
  z-index: 500;
  font-size: 50px;
  top: 10px;
  left: 30px;
}

#timer-indicator{
  position: absolute;
  z-index: 500;
  font-size: 20px;
  top: 2%;
  left: 50%;
}

.y-button {
  width: 100px;
  height: 100px;
}
